body {
	margin: 0;
	font-family: verdana;
}

/*===================================*/
/*=======Common Styling Start========*/
/*===================================*/
.container {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.w-20 {
	width: 20%;
	float: left;
	box-sizing: border-box;
}

.w-80 {
	width: 80%;
	float: left;
	box-sizing: border-box;
}

.w-44 {
	width: 44%;
	float: left;
	box-sizing: border-box;
}

.w-12 {
	width: 12%;
	float: left;
	box-sizing: border-box;
}
.w-50 {
	width: 50%;
	float: left;
	box-sizing: border-box;
}

/*===================================*/
/*=======Common Styling End==========*/
/*===================================*/



/*===================================*/
/*=======Header area Start==========*/
/*===================================*/

.header-area {
	background: #3c5999;
	padding: 12px;
	position: sticky;
	top: 0;
}

.header-area .logo-area {
	margin-top: 19px;
}


/* .main-area .connect-people img { */
	/* width: 500px; */
	/* height: 500px; */
/* } */

.header-area form {
	float: right;
	width: 45%;
}

.header-area .login-area {
	overflow: hidden;
}

.header-area label ,
.header-area input {
	display: block;
}

.header-area .login-area input[type="text"], 
.header-area .login-area input[type="password"] {
	margin: 7px 0;
	width: 100%;
	box-sizing: border-box;
}

.header-area label {
	color: #FFFFFF;
	font-size: 13px;
}

.header-area .login-area input[type="submit"] {
	margin-top: 24px;
	background: #4b6eb3;
	color: #FFFFFF;
	border: 1px solid #375a9b;
}

.header-area .password-area a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 13px;
	padding-top: 10px;
} 



.header-area .w-44.spacing {
	padding-right: 10px;
}

/*===================================*/
/*=======Header area End============*/
/*===================================*/

/*===================================*/
/*==========Main area Start==========*/
/*===================================*/

.main-area {
	background-image: linear-gradient(#fcfdfd, #dfe2ee);
	padding: 30px 0;
}

.main-area .help-area h3 {
	margin: 0;
	margin-top: 10px;
	line-height: 35px;
	color: #48638f;
}

.main-area .connect-people img {
	margin: 10px 0 0 35px;
}

.main-area .acc-heading h1 {
	margin: 0;
	color: #4f4d4f;
	margin-top: 5px;
	font-size: 35px;
}

.main-area .acc-heading h3 {
	margin: 0;
	margin-top: 15px;
	color: #4d4d4f;
}

.main-area .reg-form {
	margin-top: 20px;
	width: 90%;
	overflow: hidden;
}

.main-area .reg-form input[type="text"],
.main-area .reg-form input[type="email"],
.main-area .reg-form input[type="password"] {
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	border: 1px solid #f5f6fa;
}

.main-area .birthday-select select {
	padding: 5px;
	border: 1px solid #f5f6fa;
	margin-bottom: 15px;
	float: left;
	margin-right: 10px;
}

.main-area .reg-form input[type="submit"] {
	padding: 8px 60px;
	border-radius: 5px;
	background: #64a551;
	border: 1px solid #b8c5c3;
	color: #FFFFFF;
	font-size: 20px;
}

.main-area .birthday-text {
	margin: 10px 0;
}

.main-area .why {
	overflow: hidden;
}

.main-area  .birthday-select {
	overflow: hidden;
}

.main-area .birthday-select a {
	font-size: 12px;
	text-decoration: none;
}

.main-area .why a {
	line-height: 5px;
}

.main-area .first-name {
	float: left;
	margin-right: 10px;
}

.main-area .last-name {
	overflow: hidden;
}

.main-area .create-page a {
	text-decoration: none;
}
/*===================================*/
/*==========Main area End============*/
/*===================================*/